/*
 * Colors
 */
.card {
  display: inline-block;
  position: relative;
  width: 149px;
  height: 208px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
}
.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}
.card.disabled {
  cursor: not-allowed;
  filter: contrast(0.6);
}
.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  background-size: auto 100%;
}
.card .card-sides .card-side.front {
  background-image: url("img/cards.jpg");
}
.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}
.card .card-sides .card-side.back {
  background-image: url("img/card-back.jpg");
  transform: rotateY(180deg);
}
.card.selectable:not(.disabled) {
  cursor: pointer;
}
.card.selectable:not(.disabled):not(.selected) {
  animation: selectable-card-animation 1s alternate infinite ease-in-out;
}
.card.selectable:not(.disabled) .card-side {
  box-shadow: unset;
}
.card.selected:not(.disabled) {
  box-shadow: 0 0 5px 8px orange;
}
.card.selected:not(.disabled) .card-side {
  box-shadow: unset;
}
.card[data-category="1"] .front {
  background-position-x: 0%;
}
.card[data-category="2"][data-family="1"][data-color="1"][data-index="0"] .front {
  background-position-x: 1.8518518519%;
}
.card[data-category="2"][data-family="1"][data-color="1"][data-index="1"] .front {
  background-position-x: 3.7037037037%;
}
.card[data-category="2"][data-family="1"][data-color="2"][data-index="0"] .front {
  background-position-x: 5.5555555556%;
}
.card[data-category="2"][data-family="1"][data-color="2"][data-index="1"] .front {
  background-position-x: 7.4074074074%;
}
.card[data-category="2"][data-family="1"][data-color="3"][data-index="0"] .front {
  background-position-x: 9.2592592593%;
}
.card[data-category="2"][data-family="1"][data-color="4"][data-index="0"] .front {
  background-position-x: 11.1111111111%;
}
.card[data-category="2"][data-family="1"][data-color="4"][data-index="1"] .front {
  background-position-x: 12.962962963%;
}
.card[data-category="2"][data-family="1"][data-color="5"][data-index="0"] .front {
  background-position-x: 14.8148148148%;
}
.card[data-category="2"][data-family="1"][data-color="7"][data-index="0"] .front {
  background-position-x: 16.6666666667%;
}
.card[data-category="2"][data-family="2"][data-color="1"][data-index="0"] .front {
  background-position-x: 18.5185185185%;
}
.card[data-category="2"][data-family="2"][data-color="1"][data-index="1"] .front {
  background-position-x: 20.3703703704%;
}
.card[data-category="2"][data-family="2"][data-color="2"][data-index="0"] .front {
  background-position-x: 22.2222222222%;
}
.card[data-category="2"][data-family="2"][data-color="2"][data-index="1"] .front {
  background-position-x: 24.0740740741%;
}
.card[data-category="2"][data-family="2"][data-color="3"][data-index="0"] .front {
  background-position-x: 25.9259259259%;
}
.card[data-category="2"][data-family="2"][data-color="3"][data-index="1"] .front {
  background-position-x: 27.7777777778%;
}
.card[data-category="2"][data-family="2"][data-color="4"][data-index="0"] .front {
  background-position-x: 29.6296296296%;
}
.card[data-category="2"][data-family="2"][data-color="4"][data-index="1"] .front {
  background-position-x: 31.4814814815%;
}
.card[data-category="2"][data-family="3"][data-color="1"][data-index="0"] .front {
  background-position-x: 33.3333333333%;
}
.card[data-category="2"][data-family="3"][data-color="1"][data-index="1"] .front {
  background-position-x: 35.1851851852%;
}
.card[data-category="2"][data-family="3"][data-color="2"][data-index="0"] .front {
  background-position-x: 37.037037037%;
}
.card[data-category="2"][data-family="3"][data-color="3"][data-index="0"] .front {
  background-position-x: 38.8888888889%;
}
.card[data-category="2"][data-family="3"][data-color="3"][data-index="1"] .front {
  background-position-x: 40.7407407407%;
}
.card[data-category="2"][data-family="3"][data-color="4"][data-index="0"] .front {
  background-position-x: 42.5925925926%;
}
.card[data-category="2"][data-family="3"][data-color="5"][data-index="0"] .front {
  background-position-x: 44.4444444444%;
}
.card[data-category="2"][data-family="4"][data-color="1"][data-index="0"] .front {
  background-position-x: 46.2962962963%;
}
.card[data-category="2"][data-family="4"][data-color="2"][data-index="0"] .front {
  background-position-x: 48.1481481481%;
}
.card[data-category="2"][data-family="4"][data-color="3"][data-index="0"] .front {
  background-position-x: 50%;
}
.card[data-category="2"][data-family="4"][data-color="4"][data-index="0"] .front {
  background-position-x: 51.8518518519%;
}
.card[data-category="2"][data-family="4"][data-color="8"][data-index="0"] .front {
  background-position-x: 53.7037037037%;
}
.card[data-category="2"][data-family="5"][data-color="1"][data-index="0"] .front {
  background-position-x: 55.5555555556%;
}
.card[data-category="2"][data-family="5"][data-color="2"][data-index="0"] .front {
  background-position-x: 57.4074074074%;
}
.card[data-category="2"][data-family="5"][data-color="3"][data-index="0"] .front {
  background-position-x: 59.2592592593%;
}
.card[data-category="2"][data-family="5"][data-color="5"][data-index="0"] .front {
  background-position-x: 61.1111111111%;
}
.card[data-category="2"][data-family="5"][data-color="6"][data-index="0"] .front {
  background-position-x: 62.962962963%;
}
.card[data-category="3"][data-family="1"][data-color="1"][data-index="0"] .front {
  background-position-x: 64.8148148148%;
}
.card[data-category="3"][data-family="1"][data-color="2"][data-index="0"] .front {
  background-position-x: 66.6666666667%;
}
.card[data-category="3"][data-family="1"][data-color="3"][data-index="0"] .front {
  background-position-x: 68.5185185185%;
}
.card[data-category="3"][data-family="1"][data-color="4"][data-index="0"] .front {
  background-position-x: 70.3703703704%;
}
.card[data-category="3"][data-family="1"][data-color="5"][data-index="0"] .front {
  background-position-x: 72.2222222222%;
}
.card[data-category="3"][data-family="1"][data-color="7"][data-index="0"] .front {
  background-position-x: 74.0740740741%;
}
.card[data-category="3"][data-family="2"][data-color="2"][data-index="0"] .front {
  background-position-x: 75.9259259259%;
}
.card[data-category="3"][data-family="2"][data-color="4"][data-index="0"] .front {
  background-position-x: 77.7777777778%;
}
.card[data-category="3"][data-family="2"][data-color="5"][data-index="0"] .front {
  background-position-x: 79.6296296296%;
}
.card[data-category="3"][data-family="2"][data-color="6"][data-index="0"] .front {
  background-position-x: 81.4814814815%;
}
.card[data-category="3"][data-family="2"][data-color="7"][data-index="0"] .front {
  background-position-x: 83.3333333333%;
}
.card[data-category="3"][data-family="3"][data-color="6"][data-index="0"] .front {
  background-position-x: 85.1851851852%;
}
.card[data-category="3"][data-family="3"][data-color="8"][data-index="0"] .front {
  background-position-x: 87.037037037%;
}
.card[data-category="3"][data-family="3"][data-color="9"][data-index="0"] .front {
  background-position-x: 88.8888888889%;
}
.card[data-category="3"][data-family="4"][data-color="9"][data-index="0"] .front {
  background-position-x: 90.7407407407%;
}
.card[data-category="3"][data-family="4"][data-color="10"][data-index="0"] .front {
  background-position-x: 92.5925925926%;
}
.card[data-category="4"][data-family="1"] .front {
  background-position-x: 94.4444444444%;
}
.card[data-category="4"][data-family="2"] .front {
  background-position-x: 96.2962962963%;
}
.card[data-category="4"][data-family="3"] .front {
  background-position-x: 98.1481481481%;
}
.card[data-category="4"][data-family="4"] .front {
  background-position-x: 100%;
}

@keyframes selectable-card-animation {
  0% {
    box-shadow: 0 0 3px 2px #FFFFFF;
  }
  100% {
    box-shadow: 0 0 5px 3px #FFFFFF;
  }
}
#table-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #60c2cb;
  padding: 5px;
  border-radius: 15px;
  background: rgba(96, 194, 203, 0.4);
}
#table-center #deck-and-discards {
  display: flex;
  justify-content: center;
  align-items: center;
}
#table-center #deck-and-discards #deck {
  display: inline-block;
  position: relative;
  width: 149px;
  height: 208px;
  margin: 5px;
  border-radius: 10px;
  background-image: url("img/card-back.jpg");
  background-size: auto 100%;
  box-shadow: 3px 3px 0px 0px #333, 5px 5px 3px black;
}
#table-center #deck-and-discards #deck.selectable {
  cursor: pointer;
  animation: selectable-card-animation 1s alternate infinite ease-in-out;
}
#table-center #deck-and-discards .discard-stack {
  display: inline-block;
  position: relative;
  width: 159px;
  height: 218px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.4);
}
#table-center #pick {
  position: relative;
  background-color: #60c2cb;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 230px;
  margin-top: 10px;
  transition: background-color 0.5s;
}
#table-center #pick[data-visible=false] {
  background-color: transparent;
}
#table-center #pick[data-visible=false]::before {
  border-color: transparent;
}
#table-center #pick::before {
  transition: border-color 0.5s;
  top: -12px;
  border-width: 0 12px 12px 12px;
  border-color: #60c2cb transparent;
  border-style: solid;
  content: "";
  display: block;
  left: 7px;
  position: absolute;
  width: 0;
}

#discard-pick {
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
}
#discard-pick[data-visible=false] {
  display: none;
}

.cards-stack {
  position: relative;
}
.cards-stack .card {
  position: absolute;
  top: 0;
  left: 0;
}

.player-board {
  background-color: white;
}
.player-board.spectator-mode * {
  background: white !important;
}

.player-table {
  width: 650px;
  position: relative;
  background: rgba(255, 255, 255, 0.4);
  border: 2px solid white;
  border-radius: 15px;
}
.player-table .name-wrapper {
  display: flex;
  background: rgba(255, 255, 255, 0.6666666667);
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.player-table .name-wrapper .name-and-bubble {
  position: relative;
}
.player-table .name-wrapper .name-and-bubble .name {
  font-size: 20pt;
  font-weight: bold;
}
.player-table .name-wrapper .name-and-bubble .discussion_bubble {
  white-space: nowrap;
}
.player-table .name-wrapper .counter {
  margin-left: 8px;
  font-size: 80%;
}
.player-table .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 218px;
}
.player-table .cards.hand[data-current-player=false] {
  min-height: 45px;
  max-height: 45px;
  overflow: hidden;
}
.player-table .cards.hand[data-current-player=false] .card:not(:first-child) {
  margin-left: -120px;
}

html, .mode_3d #game_play_area_background {
  background: url("img/background.jpg");
}

@font-face {
  font-family: "Origami";
  src: url("img/origami.woff2") format("woff2"), url("img/origami.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#zoom-wrapper {
  position: relative;
}
#zoom-wrapper #zoom-controls {
  position: absolute;
  top: 0;
  right: 0;
}
#zoom-wrapper #zoom-controls button {
  width: 40px;
  height: 40px;
  background: url("img/zoom.svg");
  background-size: auto 220%;
}
#zoom-wrapper #zoom-controls button:not(.disabled) {
  cursor: pointer;
}
#zoom-wrapper #zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
#zoom-wrapper #zoom-controls #zoom-in {
  background-position: 6% 94%;
}
#zoom-wrapper #zoom-controls #zoom-out {
  background-position: 82% 94%;
}
#zoom-wrapper #full-table {
  position: relative;
  transform-origin: left top;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#round-panel {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
}

.spectatorMode #myhand-wrap {
  display: none;
}

html[data-origami-font=true] .player-table .name-wrapper .name-and-bubble .name {
  font-family: "Origami";
  font-size: 26pt;
}
