.player-table {
  width: 700px;
  position: relative;

  .name {
    font-size: 16pt;
    display: flex;
    background: white;
    padding: 10px;
    justify-content: center;
  }

  .cards {
    min-height: 218px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}