.player-table {
  width: 650px;
  position: relative;
  background: #FFFFFF66;
  border: 2px solid white;
  border-radius: 15px;

  .name-wrapper {
    display: flex;
    background: #FFFFFFAA;
    padding: 5px;
    justify-content: center;
    align-items: center;

    .name-and-bubble {
      position: relative;

      .name {
        font-size: 20pt;
        font-weight: bold;
      }

      .discussion_bubble {
        white-space: nowrap;
      }
    }

    .counter {
      margin-left: 8px;
      font-size: 80%;
    }
  }

  .cards {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 218px;

    &.hand {
      &[data-current-player="false"] {
        min-height: 45px;
        max-height: 45px;
        overflow: hidden;

        .card:not(:first-child) {
          margin-left: -120px;
        }
      }
    }
  }
}