@import 'cards';
@import 'stacks';
@import 'playerboards';
@import 'player-table';

html, .mode_3d #game_play_area_background {
  background: url('img/background.jpg');
}

@font-face {
    font-family: 'Origami';
    src: url('img/origami.woff2') format('woff2'),
         url('img/origami.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#zoom-wrapper {
  position: relative;

  #zoom-controls {
    position: absolute;
    top: 0;
    right: 0;

    button {
      width: 40px;
      height: 40px;
      background: url('img/zoom.svg');
      background-size: auto 220%;

      &:not(.disabled) {
        cursor: pointer;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    #zoom-in {
      background-position: 6% 94%;
    }
    #zoom-out {
      background-position: 82% 94%;
    }
  }

  #full-table {
    position: relative;
    transform-origin: left top;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}

#round-panel {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
}

.spectatorMode #myhand-wrap {
  display: none;
}
