@import 'cards';
@import 'stacks';
@import 'playerboards';
@import 'player-table';
/*
html, .mode_3d #game_play_area_background {
  background: black;
}*/

#zoom-wrapper {
  position: relative;

  #zoom-controls {
    position: absolute;
    top: 0;
    right: 0;

    button {
      width: 40px;
      height: 40px;
      background: url('img/zoom.svg');
      background-size: auto 220%;

      &:not(.disabled) {
        cursor: pointer;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    #zoom-in {
      background-position: 6% 94%;
    }
    #zoom-out {
      background-position: 82% 94%;
    }
  }

  #full-table {
    position: relative;
    transform-origin: left top;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}


.hand-wrap {
  display: flex;
  padding: 0;

  &.hidden {
    display: none;
  }

  .hand-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5px;

    h3 {
      flex: 1;
      text-align: center;
      writing-mode: vertical-lr;
      transform: rotate(180deg);    
      //color: white;
      padding: 5px;
      text-overflow: ellipsis;
    }
  }

  .sort-button {
    display: inline-block;
    width: auto;
    background: #1577c6;
    margin: 1px;
    padding: 3px;
    border-radius: 5px;

    &[data-direction="asc"] {
      .sort-icon {
        background-position-x: 0%;
      }
    }
    &[data-direction="desc"] {
      .sort-icon {
        background-position-x: 100%;
      }
    }

    .sort-icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      cursor: pointer;
      background: url('img/sort-icons.png');
  
      &[data-type="weight"] {
        background-position-y: 0%;
      }
      &[data-type="gender"] {
        background-position-y: 100%;
      }
    }
  }

  .hand-cards {
    flex: 1;

    &.text {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      text-align: center;
      font-size: 120%;
    }
  }
}

#round-panel {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
}

.spectatorMode #myhand-wrap {
  display: none;
}
